.vscode/c_cpp_properties.json
integral-mpi/integral
.vscode/ipch/ab47dd0dba35809e/integralmpi.ipch
.vscode/ipch/ab47dd0dba35809e/mmap_address.bin
integral-mpi/a.out
integral-mpi/hostfile
integral-mpi/integralmpi
integral-mpi/mpilucia
integral-mpi/.vscode/ipch/9910425cbb7974c7/mmap_address.bin
integral-mpi/.vscode/ipch/7d5f28b63be73f0f/mmap_address.bin
.vscode/ipch/f3fb9392b60d09dc/mmap_address.bin
.vscode/ipch/4c5d840d8cd05951/mmap_address.bin
.vscode/ipch/5623313debffc61e/mmap_address.bin
.vscode/ipch/7d5f28b63be73f0f/mmap_address.bin
.vscode/ipch/83f9d26cbbf40fe1/mmap_address.bin
.vscode/ipch/9910425cbb7974c7/mmap_address.bin
.vscode/ipch/d809a8ab65a304c3/mmap_address.bin
.vscode/ipch/d9cb2ff20f2d7501/mmap_address.bin
.vscode/ipch/ec48fc192b1d5468/mmap_address.bin
informacao/a.out
informacao/alimentacao
informacao/hostfile
