.vscode/c_cpp_properties.json
integral-mpi/integral
.vscode/ipch/ab47dd0dba35809e/integralmpi.ipch
.vscode/ipch/ab47dd0dba35809e/mmap_address.bin
integral-mpi/a.out
integral-mpi/hostfile
integral-mpi/integralmpi
integral-mpi/mpilucia
integral-mpi/.vscode/ipch/9910425cbb7974c7/mmap_address.bin
integral-mpi/.vscode/ipch/7d5f28b63be73f0f/mmap_address.bin
.vscode/ipch/f3fb9392b60d09dc/mmap_address.bin
.vscode/ipch/4c5d840d8cd05951/mmap_address.bin
.vscode/ipch/5623313debffc61e/mmap_address.bin
.vscode/ipch/7d5f28b63be73f0f/mmap_address.bin
.vscode/ipch/83f9d26cbbf40fe1/mmap_address.bin
.vscode/ipch/9910425cbb7974c7/mmap_address.bin
.vscode/ipch/d809a8ab65a304c3/mmap_address.bin
.vscode/ipch/d9cb2ff20f2d7501/mmap_address.bin
.vscode/ipch/ec48fc192b1d5468/mmap_address.bin
informacao/a.out
informacao/alimentacao
informacao/hostfile
.vscode/ipch/38785f2de0825191/mmap_address.bin
.vscode/ipch/38785f2de0825191/fibonacci.ipch
openmp/fibo
.vscode/ipch/b37a672a54feb84/mmap_address.bin
.vscode/ipch/b37a672a54feb84/fibonacci.1.ipch
.vscode/ipch/f0bebe5724ae1c21/fibonacciParalelo.ipch
.vscode/ipch/f0bebe5724ae1c21/mmap_address.bin
openmp/fibonacci
openmp/fibomp
.vscode/ipch/a52d88ed5485cbe5/gaussmp.ipch
.vscode/ipch/4eb7eb5d8665670/gauss.ipch
.vscode/ipch/4eb7eb5d8665670/mmap_address.bin
.vscode/ipch/a52d88ed5485cbe5/mmap_address.bin
openmp/gauss.out
openmp/gaussmp
.vscode/ipch/a952e012678974bb/mmap_address.bin
.vscode/ipch/88d3fe40390a7b13/fibonacci.ipch
.vscode/ipch/88d3fe40390a7b13/mmap_address.bin
.vscode/ipch/a952e012678974bb/fibonacciParalelo.ipch
.vscode/ipch/f2823b9a0ad35f9f/gaussmp.ipch
.vscode/ipch/f2823b9a0ad35f9f/mmap_address.bin
openmp/fib/fibo
openmp/fib/fibomp
openmp/fib/fibonacci
openmp/gauss/gauss
openmp/gauss/gauss.out
openmp/gauss/gaussmp
.vscode/ipch/9e44396e8af1122a/mmap_address.bin
.vscode/ipch/9e44396e8af1122a/gauss.ipch
.vscode/ipch/72396df15343fd8/mmap_address.bin
.vscode/ipch/72396df15343fd8/password.ipch
.vscode/ipch/b24ac6e6775ab76e/mmap_address.bin
.vscode/ipch/cbc7a3cf76e7b991/mmap_address.bin
.vscode/ipch/cbc7a3cf76e7b991/password_bf.ipch
.vscode/ipch/db8099be1aa6f506/mmap_address.bin
.vscode/ipch/db8099be1aa6f506/password.ipch
.vscode/ipch/f1ea5b48964cd8fd/integralmp.ipch
.vscode/ipch/f1ea5b48964cd8fd/mmap_address.bin
.vscode/settings.json
openmp/password/password_bf.c
openmp/password/password_bf.o
openmp/password/password_bf
openmp/integral/integralmp
